<div class="card complete-post" *ngFor="let element of _data.dataClean; let i = index">
  <div class="card-body">
    <p><small class="text-muted">Posted by {{element["author"]}} | </small><small class="text-muted">{{_data.timeSince(element["timestamp"])}}</small></p>
    <h5 class="card-title"><a [routerLink]="['/post/'+i]">{{element["title"]}}</a></h5>
    <div *ngIf='element["type"] == "image"'>
      <img src="{{element['url']}}" class="card-img-top thumb-image" alt="">
    </div>
    <!-- TODO Crear un nuevo iframe con ngIf donde la comparativa sería si la url contiene indexOf() redditmedia -->
    <div *ngIf='element["type"] == "video" '>
       <iframe class="video" width="auto" height="315" [src]="_data.transform(_data.dataClean[i]['url'].replace('/watch?v=', '/embed/').replace('https://youtu.be/','https://www.youtube.com/embed/'))" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div *ngIf='element["text"] != "" && element["text"] != undefined'>
          <p class="card-text">{{element["text"].split(" ").slice(0, 10).join(' ') + '...'}} <a [routerLink]="['/post/'+i]">READ MORE</a></p>
    </div>
    <br>
    <div *ngIf='element["type"] == "post"'>
      <a href="{{element['url']}}" class="btn btn-outline-primary" target="_blank">Accede a la noticia</a>
    </div>
  </div>
</div>
